@{
    Layout = "_ColumnsOne";
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body container">
        @await Component.InvokeAsync("HomepageReals")
        @await Component.InvokeAsync("HomepageNews")
    </div>
</div>
