<header>
    <div class="header-main-content sticky-menu">
        <div class="container">
            <div class="row header-top align-items-center">
                <div class="col-md-3 col-logo">
                    @await Component.InvokeAsync("Logo")
                </div>
                <div class="col-md-6 col-search">
                    @await Component.InvokeAsync("SearchBox")
                </div>
                <div class="col-md-3">
                    @await Component.InvokeAsync("HeaderLinks")
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom border-bottom border-top d-none d-md-block">
        <div class="container">
            @await Component.InvokeAsync("TopMenu")
        </div>
    </div>
</header>
