@{
    Layout = "_Root.Head";
}
@await Html.PartialAsync("_Notifications")
    <div class="master-wrapper-page">
        @await Component.InvokeAsync("AdminHeaderLinks")
        @await Html.PartialAsync("_Header")
        <script asp-location="Footer">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        <div class="master-wrapper-content">

            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb")
            }
            <div class="master-column-wrapper">
                @RenderBody()
            </div>
        </div>
        <div class="bg-gray py-4">
            <div class="container">
                @await Component.InvokeAsync("RecentlyViewedProductsBlock", new { productThumbPictureSize = 140 })
            </div>
        </div>
        @await Component.InvokeAsync("Footer")
    </div>
@await Component.InvokeAsync("MobileMenu")
<div id="quickviewpopup" class="quickviewpopup white-popup mfp-hide"></div>