@{
    Layout = "";
}
<div class="facebook-login-block mb-2">
    <div class="buttons">
        <a asp-controller="Facebookauthentication" asp-action="login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="facebook-btn btn btn-block btn-primary"><i class="mbi mbi-facebook-square mr-2"></i> <span>@T("LoginViaFacebook")</span></a>
    </div>
</div>