@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/ExternalAuth.Google/Content/googlestyles.css");
}
<div class="google-login-block">
    <div class="buttons">
        <a asp-controller="Googleauthentication" asp-action="login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="btn-google btn-block btn btn-danger"><i class="mbi mbi-google mr-2"></i> @T("LoginViaGoogle")</a>
    </div>
</div>