@model NewsItemModel
@{
    Layout = "_ColumnsTwoNews";
    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-news-item-page");
}
@section Breadcrumb{
    @await Html.PartialAsync("_NewsItemBreadcrumb", Model.Breadcrumb)
}
@section right{
    @await Component.InvokeAsync("NewsCategoryNavigation", new { currentCategoryId = 0, currentNewsId = Model.Id })

}
@section categorytitle{
    <div class="row">
        <div class="col-md-9">
            <div class="page-title">
                <h1 class="h3 mb-3 mt-0">@Model.Title</h1>
            </div>
        </div>
    </div>
}
<div class="page news-item-page">
    <div class="page-body">
        <div class="news-date bg-gray p-2 font-italic">
            @Model.CreatedOn.ToString("D")
        </div>
        <div class="news-body my-3">
            @Html.Raw(Model.Full)
        </div>
    </div>
</div>
